@charset "UTF-8";

/* -----------------------------------------------------------------
Title: home.css
Created: 2013-7-3
Last Modified: 2013-**-**
------------------------------------------------------------------ */

@import URL("common/css/reset.css");
@import URL("common/css/base.css");

div#contentsArea #key {
	margin:0 0 1em 0;
}
div#contentsArea .lead {
	min-height: 206px;
	height: auto!important;
	height: 206px;
	background-color: #FFF;
	padding:10px 20px 0 50px;
	margin:0 0 1em 0;
}
div#contentsArea .lead img {
	display:block;
	float:left;
	width:293px;
	margin:0 20px 0 0;
}
div#contentsArea .lead p {
	padding:20px 0 0 0;
}

div#contentsArea #bannerArea {
}
div#contentsArea #bannerArea a {
	color:#333;
	text-decoration:none;
}
div#contentsArea #bannerArea a:hover {	
	color:#333;
	text-decoration:underline;
}
div#contentsArea #bannerArea .box {
	width:370px;
	float:left;
	margin:0 10px 10px 0;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	behavior: url(/common/css/PIE.htc);
}
div#contentsArea #bannerArea .box h2 {
}
div#contentsArea #bannerArea .box ul {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/common/css/ie-css3.htc);
	background:#FFF;
	padding:15px 15px 20px;
}
div#contentsArea #bannerArea .box ul li {
	font-size:1.2em;
	margin-bottom:0.5em;
	background:url(images/banner_icon.gif) left center no-repeat;
	padding:0 0 0 15px;
}

.demo-li {display: flex;align-items: center;}
.demo-video {position: relative;padding-left: 60px;text-align: center;line-height: 1.0;color: #03C !important;}
.demo-video::before {content: "";position: absolute;width: 40px;height: 30px;left:15px;top: 50%; transform: translateY(-50%); background:url(images/youtube.png) no-repeat center center/ auto 100%;}