@charset "UTF-8";

/* -----------------------------------------------------------------
Title: office.css
Created: 2013-7-3
Last Modified: 2013-**-**
------------------------------------------------------------------ */

@import URL("../common/css/reset.css");
@import URL("../common/css/base.css");

div#sitemap {
	width:650px;
	margin:0 auto;
	padding-bottom: 80px;
}
div#sitemap ul.home {
	margin-bottom: 2em;
	padding:2em 0 0 3px;
}
div#sitemap ul.products {
	margin-bottom: 2em;
	padding:2em 0 0 20px;
	border-top: 1px dotted #000;
}
div#sitemap ul.other {
	padding:2em 0 0 20px;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}
div#sitemap ul li {
	padding:0 0 0 10px;
	background: url(images/icon.gif) no-repeat left center;
	margin-bottom: 25px;
	font-size: 1.2em;
}
div#sitemap ul li a {
	color:#000;
}