@charset "UTF-8";

/* -----------------------------------------------------------------
Title: product.css
Created: 2012-10-19
Last Modified: 2012-**-**
------------------------------------------------------------------ */

/* 製品案内　ページ内リンク */
div#wrapper #mainArea #contentsArea .w710 ul.link {
	overflow:hidden;
	margin:0 auto 2em auto;
	width:708px;
}
div#wrapper #mainArea #contentsArea .w710 ul.link li {
	float:left;
	margin-right:10px;
}

div#wrapper #mainArea #contentsArea .w710 ul.link02 {
	overflow:hidden;
	margin:0 auto 2em auto;
	width:708px;
}
div#wrapper #mainArea #contentsArea .w710 ul.link02 li {
	float:left;
	margin-right:8px;
}

.w710 .productBox {
	overflow:hidden;
	margin-bottom:0em;
}
.w710 .productBox .image {
	float:right;
}
.w710 .productBox .image10 {
	float:right;
	margin-left:10px;
}
.w710 .productBox ul {
	padding-left:10px;
	padding-top:10px;
}
.w710 .productBox ul li {
	font-size:1.2em;
	margin-bottom:0.7em;
}

/* tableのスタイル */
.w710 .spec table {
	font-family: 'Roboto', sans-serif;
	width:710px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	margin-bottom: 1em;
}
.w710 .spec table th {
	text-align: left;
	padding: 2px 8px;
	background: #d8d8d8;
	font-weight: 600;
	font-size: 14px;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
}
.w710 .spec table th.important {
	background-color:#CCC;
}
.w710 .spec table td {
	text-align: left;
	font-weight: 600;
	padding: 2px 8px;
	font-size: 14px;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
}
.w710 .spec table td.bgC {
	color: #BD0244;
	background: #FCF4F4;
}
.w710 .spec table th.bgCR {
	color: #BD0244!important;
	background: #FCF4F4!important;
}
.w710 .spec table th.bgCG {
	color: #006600!important;
	background-color: #EDFBC8!important;
}
.w710 .spec table td p {
	font-size:1.0em;
}

/* 問い合わせ＆ページトップ */
.w710 .contactArea {
	padding:1.0em 0 2.0em 0;
	overflow:hidden;
}
.w710 .contactArea ul {
	text-align:right;
	width: 165px;
	float:right;
}
.w710 .contactArea ul li {
	float:left;
}
.w710 .contactArea li.borderLine {
	border-right:#666 solid 1px;
	padding-right:10px;
	margin-right:10px;
}
td.w60 {
	width:60px;
}
    .productBox li {list-style: inside;}
    .productDetail {display: flex;justify-content: space-between;margin-bottom: 50px;}
    .productImg {position:relative;width: 50%;
		/* padding: 0 50px;   */
		/* border: solid 1px; */
	}
	.productImg img {
		z-index:1;
	}
	.productImg img:hover {
		transform: translate(-50%, -50%) scale(3.0);
		max-width: 280px;
		cursor: pointer;
		z-index:1000;
	}
	#product05 .productImg:before {
		position: absolute;
		bottom: 30px;
		right: 20px;
		z-index: 1;
		content: "Sample";
	}
	#product05 .productImg:after {
		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 1;
		content: "Image";
	}
	
    .productImg img {width: 100%;transition: all 0.3s;position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.9);
	}
	.small-img img {
		height: 100%;
		width: auto;
	}
	/* .height {
		width: 110%;
	} */
    .profuctTable {flex:1;}
    .profuctTable table {width: 100% !important;}
    .profuctTable th, .profuctTable td {text-align: center;}

    .productFunction {display: flex;flex-wrap: wrap;margin-bottom: 10px;align-items: center}
    .productFunction li { margin-right: 10px;padding: 5px 10px;border-radius: 5px;color: #000; margin-bottom: 5px;}
    .productFunction li p {font-weight: 900;text-align: center}
	
    .productFunction li.yellow {background-color:#FEFF47;}
	.productFunction li.gray {background-color: #BFBFBF;}
    .productFunction li.orange {background-color: #FFBF00;}
	.productFunction li.red {background-color: #FF0102;}
	.productFunction li.green {background-color: #00AF50;}
	.productFunction li.purple {background-color:#70319F;color: #fff;}
	.productFunction li.lightblue {background-color: #00AFEF;}
	.productFunction li.skyblue {background-color: #0070C0;}
	.productFunction li.white {background-color: white;border: solid 1px #000;}
	.productFunction li.darkblue {background-color:#002060;color: #fff;}
	.productFunction li.black {background-color: #000;color: #fff}
	.productFunction li.blue {background-color:#0066FF; }
    
	
	
    .dataSheetBtn {text-align: left;}
	.dataSheetBtn a {background-color: #333;transition: all 0.3s;
		color: #fff;font-weight: 900;padding: 5px 30px;box-shadow: 2px 2px 2px rgba(0,0,0,0.1); text-decoration: none;font-size: 14px;    display: inline-block;}
		.dataSheetBtn a:hover {
			background: #ccc;color: #333;
			
		}
	.accessoriesImg {position:relative;width: 300px;overflow: hidden;margin-right: 10px; }
	.accessoriesImg img {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);}
	.accessoriesImg:hover {overflow: visible;}
	.profuctTable-ttl {font-weight: 900;font-size: 23px;margin-bottom: 10px;}