@charset "UTF-8";

/* -----------------------------------------------------------------
Title: home.css
Created: 2013-7-3
Last Modified: 2013-**-**
------------------------------------------------------------------ */

@import URL("common/css/reset.css");
@import URL("common/css/base.css");

div#contentsArea #key {
	margin:0 0 1em 0;
}
div#contentsArea .lead {
	min-height: 206px;
	height: auto!important;
	height: 206px;
	background-color: #FFF;
	padding:10px 20px;
	margin:0 0 1em 0;
}
.lead-text-img {
	width:300px;
}
div#contentsArea .lead img {
	display:block;
	float:left;
	width:100%;
	margin:0 20px 0 0;
}
div#contentsArea .lead p {
	padding:20px 0 0 0;
}

div#contentsArea #bannerArea {
}
div#contentsArea #bannerArea a {
	color:#333;
	text-decoration:none;
}
div#contentsArea #bannerArea a:hover {	
	color:#333;
	text-decoration:underline;
}
div#contentsArea #bannerArea .box {
	width:370px;
	float:left;
	margin:0 10px 10px 0;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	behavior: url(/common/css/PIE.htc);
}
div#contentsArea #bannerArea .box h2 {
}
div#contentsArea #bannerArea .box > ul {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/common/css/ie-css3.htc);
	background:#FFF;
	padding:15px 15px 20px;
}
div#contentsArea #bannerArea .box > ul > li {
	font-size:1.2em;
	margin-bottom:1.0em;
	padding:0 0 0 15px;
	line-height: 1;
	position: relative;
}
div#contentsArea #bannerArea .box > ul > li:before{
	content: "";
    position: absolute;
    top: .4em;
	top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
div#contentsArea #bannerArea .box > ul > li > a {
	display: block;
	font-weight: 600;
	font-size: 16px;
}
div#contentsArea #bannerArea .box > ul > li p {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 12px;
	border-bottom: solid 1px;
	display: inline-block;
}
div#contentsArea #bannerArea .box > ul > li > ul {
	margin-bottom: 10px;
	
}

.demo-li {align-items: center;}
.demo-video {
	position: absolute;
	right:0;
	 top:0;
	 zoom:0.8;
	 padding-left: 60px;
	 text-align: center;
	 line-height: 1.0;
	 color: #03C !important;
	 font-size: 12px !important;
}
.demo-video::before {content: "";position: absolute;width: 40px;height: 30px;left:20px;top: 50%; transform: translateY(-50%); background:url(images/youtube.png) no-repeat center center/ auto 100%;}

.youtube-list {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}
.youtube-list > iframe {
	width: 49%;
	height: 210px;
}